@import '_color-palettes';
@import '_color-functions';
@import '_font-sizes';
@import '_font-functions';
@import '_contrast-colors';
@import '_contrast-functions';

// @import url('https://fonts.googleapis.com/css?family=|Open+Sans:300,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:700|EB+Garamond:500,500i,700|Arsenal:700');
html {
    font-size: 18px;
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 30px;
    }
        
}

p {
    @include text-setting('base');
}

body, .site-slogan {
    @include text-setting('base');
    color: theme-color('primary');
    font-family: 'EB Garamond', serif;
    font-weight: '500';
}

div.l-wrapper-inner {
    background: theme-color('background','light');
}

h1, h2, h3, h4, h5{
    color: theme-color('accent');
    font-family: 'PT Sans Narrow', sans-serif;
}

h1 {
    @include text-setting('xl');
}

h2 {
    @include text-setting('lg');
}

h3 {
    @include text-setting('md');
}

.l-footer-columns a:hover, .l-footer-columns a:focus, .l-footer a:hover, .l-footer a:focus {
    font-family: 'Arsenal', sans-serif;
    font-weight: '700';
    color: theme-color('foreground','light');
}

.l-header, .l-messages, .l-footer, .l-footer-columns, #skip-link, ul.contextual-links, ul.links, ul.primary, .item-list .pager, div.field-type-taxonomy-term-reference, div.meta, p.comment-time, table, .breadcrumb {
    font-family: 'Arsenal', sans-serif;
    font-weight: '700';
    color: theme-color('primary');
}
.l-header a, .l-messages a, .l-footer a, .l-footer-columns a {
    color: theme-color('accent', 'base');
}

.l-header .rounded-tabs ul.menu > li > a.active, .l-header .square-tabs ul.menu > li > a.active {
    color: theme-color('foreground','light');
}

.l-header .rounded-tabs ul.menu > li > a:hover, .l-header .square-tabs ul.menu > li > a:hover {
    color: theme-color('accent', 'light');
}

.l-header .rounded-tabs ul.menu > li > a, .l-header .square-tabs ul.menu > li > a {
    color: theme-color('foreground', 'base');

}