@import '_color-palettes';
@import '_color-functions';
@import '_font-sizes';
@import '_font-functions';
@import '_contrast-colors';
@import '_contrast-functions';

.layout {
    background-color: #888;
}

html {
    font-size: 16px;
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 12px;
    }
        
}


body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    @include text-setting('md');
}
div.l-wrapper-inner {
    background: theme-color('background');
}

h1, h2, h3 {
    color: theme-color('accent');
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    @include text-setting('xl');
}

h2 {
    @include text-setting('lg');
}

h3 {
    @include text-setting('md');
}